{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class='flex justify-center'>
    <div class="bg-blue-50 m-5 p-5 rounded-xl shadow-lg">
        <h2 class="text-xl font-bold m-1">Login</h2>
        <hr class='bg-black border my-2'>
        <form method="POST">
            {% csrf_token %}
            {% for form in form %}
            <div>
                {{form.label_tag}}
            </div>
            <div>
                {{ form }}
            </div>
            <p class = "text-red-600">{{ form.errors | striptags }}</p>
            {% endfor %}
            <button class="bg-blue-600 text-white rounded-md p-2 my-2" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock content %}
